@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->

<!--Home Section-->

<div id="home-section">
    <div class="dark-overlay">
        <div class="home-inner container">
            <div class="row">
                <div class="col-lg-8 d-none d-lg-block">
                    <h1 class="display-4">
                        Eliminate <strong>Debt</strong>
                        and start Building<strong> wealth</strong> today
                    </h1>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam laborum, harum ab sequi maxime!
                        </div>

                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam laborum, harum ab sequi maxime!
                        </div>

                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam laborum, harum ab sequi maxime!
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-success text-center card-form">
                        <div class="card-body">
                            <h3>Sign Up Today</h3>
                            <p>Please fill out this form to register</p>
                            <form action=""></form>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" placeholder="Confirm Password">
                            </div>
                            <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
